/* Partial for the body section (i.e. the main background and default typography) */

a, input {
   color: $fg0;
   &:hover {color: $fg1;}
}

#Body {
   width: 960px;
   margin: auto;
   padding: 10px;
   border-radius: $radius;
   background: $bg1;
}

.Button {
   background: $fg0;
   border: {
      radius: $radius;
      width: 0;
      color: $fg1;
   }
   color: $bg1;
   box-shadow: none;
   text-shadow: none;
}
.Button.Primary {
   background: $ct0;;
   color: $em0;
   &:hover {
      color: $em1;
   }
}
   
