/* Partial for the main content panel */

.CategoryList {
   border-radius: $radius;
   background: $cl0;
   color: $txt0;
   a {
      color: $em0;
      &:hover { color:$em1;}
   }
   .Meta {
      color: $txt1;
   }
}

.CategoryTable {
   border-radius: $radius;
   background: $cl0;
   color: $txt0;
   .ProfilePhoto {
      width: 45px;
      height: 45px;
   }
   a {
      color: $em0;
      &:hover { color:$em1;}
   }
}

.Discussions {
   .Item {
      border-radius: $radius;
      margin: 7.5px;
      background: $cl0;
   }
   .Item.Read {
      background: $cl1;
      &:hover {background: $cl0;}
      a {
	 color: $em0;
	 &:hover { color:$em1;}
      }      
   }
}

.ItemDiscussion {
   border-radius: $radius;
   background: $cl0;
   color: $txt0;
   a {
      color: $em0;
      &:hover { color:$em1;}
   }
   .Message {size: 100%}
   .DiscussionHeader {padding-bottom: 50px};
}

.ItemComment {
   border-radius: $radius;
   background: $cl0;
   color: $txt0;
   a {
      color: $em0;
      &:hover { color:$em1;}
   }
   margin: 7.5px;
   .CommentHeader {padding-bottom: 50px;}
}

.DataList .Item {
   margin: 7.5px 0;
}

.CommentForm {
   .ProfilePhoto {height:40px; width:40px;}
}

.ProfilePhoto {
   height: 90px;
   width: 90px;
   vertical-align: text-bottom;
}

.ChildCategoryList {
   .Item {
      border-radius: $radius;
      background: $cl0;
      color: $txt0;
      a {
	 color: $em0;
	 &:hover { color:$em1;}
      }
      clear: none;
      padding: 10px;
      width: 95%;
      &:nth-child(2n+1) {clear:none}
   }
}

.Profile{
   border-radius: $radius;
   background: $cl0;
   color: $txt0;
   padding: 2.5%;
   width: 95%;
   a {
      color: $em0;
      &:hover { color:$em1;}
   }
   .Meta {
      color: $txt1;
   }
   .ProfilePhoto {
      width:45px;
      height: 45px;
   }
}

.Options {
   border-radius: $radius;
   background: $fg0;
   height: 19px;
   padding: {
      left: 2.5px;
      bottom: 2.5px;
      right: 2.5px;
      top: 2.5px;
   }
   .Bookmark {
      height: 19px;
      width: 19px;
   }
   .OptionsTitle {
      height: 19px;
      width: 19px;
      background-image: url("sprites.png");
      @if $class == 'dark' {background-position: -28px 0;}
      @if $class == 'light' {background-position: 0 0;}   
   }
}

blockquote {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    border-left: 4px solid rgba(0, 0, 0, 0.1);
    margin: 1em 0;
    padding: 1ex 16px;
}
