&.Messages {
   .PageControls.Top {display:none;}
   .DataList {
      background: none;
      .ProfilePhoto {
	 height: 45px;
	 width: 45px;
      }
      .Item {
	 border-radius: $radius;
	 background: $cl0;
	 color: $txt0;
	 .Meta {color: $txt1;}
	 a {
	    color: $em0;
	    &:hover{color: $em1;}
	 }
      }
   }
}
