/* Partial for the side panel */

#Panel {
   color: $fg0;
   .MeBox {
      padding-bottom: 25px;
   }
   .ProfilePhoto {
      height: 90px;
      width: 90px;
      float: left;
      vertical-align: top;
   }
   .BigButton {
      background: none;
      border-radius: $radius;
      box-shadow: none;
      text-shadow: none;
      border: 2px solid $fg0;
      color: $fg0;
      &:hover {
	 color: $fg1;
	 border-color: $fg1;
      }
   }
   .FilterMenu, .PanelCategories {
      border-top: 1px solid $fg0;
      border-bottom: 1px solid $fg0;
      li {
	 border-top: 1px solid $fg0;
      }
      .Count {
	 background: $cl0;
	 color: $txt0;
      }
   }

   /* MePannel Buttons */
   .MeButton {
      background: $fg0;
      border-radius: 10px;
      padding: 3px;
      margin: 0 5px;
      &:hover {background: $fg1;}
      .Sprite16 {
	 background-image: url("sprites.png");
      }
   }
   .SpInbox {
      @if $class == 'dark' {background-position: 0 -100px;}
      @if $class == 'light' {background-position: 0 -228px;}
   }
   .SpBookmarks {
      @if $class == 'dark' {background-position: -80px -116px;}
      @if $class == 'light' {background-position: -80px -244px;}
   }
   .SpOptions {
      @if $class == 'dark' {background-position: 0 -84px;}
      @if $class == 'light' {background-position: 0 -212px;}
   }
   .SpPicture {
      @if $class == 'dark' {background-position: -80px -84px;}
      @if $class == 'light' {background-position: -80px -212px;}
   }
   .Alert {
      background: $bg1;
      color: $fg1;
   }
   /* =============== */
}
