/* Global variables */

$radius: 7.5px;


/* Includes */

.Vanilla, .Profile, .Conversations{
   background: $bg0;
   color: $fg0;
   @import 'partials/body';
   @import 'partials/header';
   @import 'partials/panel';
   @import 'partials/content';
   @import 'partials/messaging';
}
