/* THEME: DEFAULT */
/* Palette */
/* USAGE: This is what you change to change the color scheme. Just change these values for any other CSS color values
and compile the SCSS. Do NOT change anything but the color values unless you really know what you are doing */
/* Global variables */
/* Includes */
.Vanilla, .Profile, .Conversations {
  background: #00001f;
  color: red;
  /* Partial for the body section (i.e. the main background and default typography) */
  /* Partial for the header section */
  /* Partial for the side panel */
  /* Partial for the main content panel */ }
  .Vanilla a, .Vanilla input, .Profile a, .Profile input, .Conversations a, .Conversations input {
    color: red; }
    .Vanilla a:hover, .Vanilla input:hover, .Profile a:hover, .Profile input:hover, .Conversations a:hover, .Conversations input:hover {
      color: #990033; }
  .Vanilla #Body, .Profile #Body, .Conversations #Body {
    width: 960px;
    margin: auto;
    padding: 10px;
    border-radius: 7.5px;
    background: black; }
  .Vanilla .Button, .Profile .Button, .Conversations .Button {
    background: red;
    border-radius: 7.5px;
    border-width: 0;
    border-color: #990033;
    color: black;
    box-shadow: none;
    text-shadow: none; }
  .Vanilla .Button.Primary, .Profile .Button.Primary, .Conversations .Button.Primary {
    background: darkgray;
    color: #990033; }
    .Vanilla .Button.Primary:hover, .Profile .Button.Primary:hover, .Conversations .Button.Primary:hover {
      color: crimson; }
  .Vanilla #Head, .Profile #Head, .Conversations #Head {
    background: none; }
  .Vanilla .Head svg .path, .Profile .Head svg .path, .Conversations .Head svg .path {
    fill: red;
    stroke: red; }
  .Vanilla .Head svg .text, .Profile .Head svg .text, .Conversations .Head svg .text {
    fill: red; }
  .Vanilla #Panel, .Profile #Panel, .Conversations #Panel {
    color: red;
    /* MePannel Buttons */
    /* =============== */ }
    .Vanilla #Panel .MeBox, .Profile #Panel .MeBox, .Conversations #Panel .MeBox {
      padding-bottom: 25px; }
    .Vanilla #Panel .ProfilePhoto, .Profile #Panel .ProfilePhoto, .Conversations #Panel .ProfilePhoto {
      height: 90px;
      width: 90px;
      float: left;
      vertical-align: top; }
    .Vanilla #Panel .BigButton, .Profile #Panel .BigButton, .Conversations #Panel .BigButton {
      background: none;
      border-radius: 7.5px;
      box-shadow: none;
      text-shadow: none;
      border: 2px solid red;
      color: red; }
      .Vanilla #Panel .BigButton:hover, .Profile #Panel .BigButton:hover, .Conversations #Panel .BigButton:hover {
        color: #990033;
        border-color: #990033; }
    .Vanilla #Panel .FilterMenu, .Vanilla #Panel .PanelCategories, .Profile #Panel .FilterMenu, .Profile #Panel .PanelCategories, .Conversations #Panel .FilterMenu, .Conversations #Panel .PanelCategories {
      border-top: 1px solid red;
      border-bottom: 1px solid red; }
      .Vanilla #Panel .FilterMenu li, .Vanilla #Panel .PanelCategories li, .Profile #Panel .FilterMenu li, .Profile #Panel .PanelCategories li, .Conversations #Panel .FilterMenu li, .Conversations #Panel .PanelCategories li {
        border-top: 1px solid red; }
      .Vanilla #Panel .FilterMenu .Count, .Vanilla #Panel .PanelCategories .Count, .Profile #Panel .FilterMenu .Count, .Profile #Panel .PanelCategories .Count, .Conversations #Panel .FilterMenu .Count, .Conversations #Panel .PanelCategories .Count {
        background: black;
        color: red; }
    .Vanilla #Panel .MeButton, .Profile #Panel .MeButton, .Conversations #Panel .MeButton {
      background: red;
      border-radius: 10px;
      padding: 3px;
      margin: 0 5px; }
      .Vanilla #Panel .MeButton:hover, .Profile #Panel .MeButton:hover, .Conversations #Panel .MeButton:hover {
        background: #990033; }
      .Vanilla #Panel .MeButton .Sprite16, .Profile #Panel .MeButton .Sprite16, .Conversations #Panel .MeButton .Sprite16 {
        background-image: url("sprites.png"); }
    .Vanilla #Panel .SpInbox, .Profile #Panel .SpInbox, .Conversations #Panel .SpInbox {
      background-position: 0 -100px; }
    .Vanilla #Panel .SpBookmarks, .Profile #Panel .SpBookmarks, .Conversations #Panel .SpBookmarks {
      background-position: -80px -116px; }
    .Vanilla #Panel .SpOptions, .Profile #Panel .SpOptions, .Conversations #Panel .SpOptions {
      background-position: 0 -84px; }
    .Vanilla #Panel .SpPicture, .Profile #Panel .SpPicture, .Conversations #Panel .SpPicture {
      background-position: -80px -84px; }
    .Vanilla #Panel .Alert, .Profile #Panel .Alert, .Conversations #Panel .Alert {
      background: black;
      color: #990033; }
  .Vanilla .CategoryList, .Profile .CategoryList, .Conversations .CategoryList {
    border-radius: 7.5px;
    background: black;
    color: red; }
    .Vanilla .CategoryList a, .Profile .CategoryList a, .Conversations .CategoryList a {
      color: #990033; }
      .Vanilla .CategoryList a:hover, .Profile .CategoryList a:hover, .Conversations .CategoryList a:hover {
        color: crimson; }
    .Vanilla .CategoryList .Meta, .Profile .CategoryList .Meta, .Conversations .CategoryList .Meta {
      color: crimson; }
  .Vanilla .CategoryTable, .Profile .CategoryTable, .Conversations .CategoryTable {
    border-radius: 7.5px;
    background: black;
    color: red; }
    .Vanilla .CategoryTable .ProfilePhoto, .Profile .CategoryTable .ProfilePhoto, .Conversations .CategoryTable .ProfilePhoto {
      width: 45px;
      height: 45px; }
    .Vanilla .CategoryTable a, .Profile .CategoryTable a, .Conversations .CategoryTable a {
      color: #990033; }
      .Vanilla .CategoryTable a:hover, .Profile .CategoryTable a:hover, .Conversations .CategoryTable a:hover {
        color: crimson; }
  .Vanilla .Discussions .Item, .Profile .Discussions .Item, .Conversations .Discussions .Item {
    border-radius: 7.5px;
    margin: 7.5px;
    background: black; }
  .Vanilla .Discussions .Item.Read, .Profile .Discussions .Item.Read, .Conversations .Discussions .Item.Read {
    background: #00001f; }
    .Vanilla .Discussions .Item.Read:hover, .Profile .Discussions .Item.Read:hover, .Conversations .Discussions .Item.Read:hover {
      background: black; }
    .Vanilla .Discussions .Item.Read a, .Profile .Discussions .Item.Read a, .Conversations .Discussions .Item.Read a {
      color: #990033; }
      .Vanilla .Discussions .Item.Read a:hover, .Profile .Discussions .Item.Read a:hover, .Conversations .Discussions .Item.Read a:hover {
        color: crimson; }
  .Vanilla .ItemDiscussion, .Profile .ItemDiscussion, .Conversations .ItemDiscussion {
    border-radius: 7.5px;
    background: black;
    color: red; }
    .Vanilla .ItemDiscussion a, .Profile .ItemDiscussion a, .Conversations .ItemDiscussion a {
      color: #990033; }
      .Vanilla .ItemDiscussion a:hover, .Profile .ItemDiscussion a:hover, .Conversations .ItemDiscussion a:hover {
        color: crimson; }
    .Vanilla .ItemDiscussion .Message, .Profile .ItemDiscussion .Message, .Conversations .ItemDiscussion .Message {
      size: 100%; }
    .Vanilla .ItemDiscussion .DiscussionHeader, .Profile .ItemDiscussion .DiscussionHeader, .Conversations .ItemDiscussion .DiscussionHeader {
      padding-bottom: 50px; }
  .Vanilla .ItemComment, .Profile .ItemComment, .Conversations .ItemComment {
    border-radius: 7.5px;
    background: black;
    color: red;
    margin: 7.5px; }
    .Vanilla .ItemComment a, .Profile .ItemComment a, .Conversations .ItemComment a {
      color: #990033; }
      .Vanilla .ItemComment a:hover, .Profile .ItemComment a:hover, .Conversations .ItemComment a:hover {
        color: crimson; }
    .Vanilla .ItemComment .CommentHeader, .Profile .ItemComment .CommentHeader, .Conversations .ItemComment .CommentHeader {
      padding-bottom: 50px; }
  .Vanilla .DataList .Item, .Profile .DataList .Item, .Conversations .DataList .Item {
    margin: 7.5px 0; }
  .Vanilla .CommentForm .ProfilePhoto, .Profile .CommentForm .ProfilePhoto, .Conversations .CommentForm .ProfilePhoto {
    height: 40px;
    width: 40px; }
  .Vanilla .ProfilePhoto, .Profile .ProfilePhoto, .Conversations .ProfilePhoto {
    height: 90px;
    width: 90px;
    vertical-align: text-bottom; }
  .Vanilla .ChildCategoryList .Item, .Profile .ChildCategoryList .Item, .Conversations .ChildCategoryList .Item {
    border-radius: 7.5px;
    background: black;
    color: red;
    clear: none;
    padding: 10px;
    width: 95%; }
    .Vanilla .ChildCategoryList .Item a, .Profile .ChildCategoryList .Item a, .Conversations .ChildCategoryList .Item a {
      color: #990033; }
      .Vanilla .ChildCategoryList .Item a:hover, .Profile .ChildCategoryList .Item a:hover, .Conversations .ChildCategoryList .Item a:hover {
        color: crimson; }
    .Vanilla .ChildCategoryList .Item:nth-child(2n+1), .Profile .ChildCategoryList .Item:nth-child(2n+1), .Conversations .ChildCategoryList .Item:nth-child(2n+1) {
      clear: none; }
  .Vanilla .Profile, .Profile .Profile, .Conversations .Profile {
    border-radius: 7.5px;
    background: black;
    color: red;
    padding: 2.5%;
    width: 95%; }
    .Vanilla .Profile a, .Profile .Profile a, .Conversations .Profile a {
      color: #990033; }
      .Vanilla .Profile a:hover, .Profile .Profile a:hover, .Conversations .Profile a:hover {
        color: crimson; }
    .Vanilla .Profile .Meta, .Profile .Profile .Meta, .Conversations .Profile .Meta {
      color: crimson; }
    .Vanilla .Profile .ProfilePhoto, .Profile .Profile .ProfilePhoto, .Conversations .Profile .ProfilePhoto {
      width: 45px;
      height: 45px; }
  .Vanilla .Options, .Profile .Options, .Conversations .Options {
    border-radius: 7.5px;
    background: red;
    height: 19px;
    padding-left: 2.5px;
    padding-bottom: 2.5px;
    padding-right: 2.5px;
    padding-top: 2.5px; }
    .Vanilla .Options .Bookmark, .Profile .Options .Bookmark, .Conversations .Options .Bookmark {
      height: 19px;
      width: 19px; }
    .Vanilla .Options .OptionsTitle, .Profile .Options .OptionsTitle, .Conversations .Options .OptionsTitle {
      height: 19px;
      width: 19px;
      background-image: url("sprites.png");
      background-position: -28px 0; }
  .Vanilla blockquote, .Profile blockquote, .Conversations blockquote {
    background: none repeat scroll 0 0 rgba(0, 0, 0, 0.05);
    border-left: 4px solid rgba(0, 0, 0, 0.1);
    margin: 1em 0;
    padding: 1ex 16px; }
  .Vanilla.Messages .PageControls.Top, .Profile.Messages .PageControls.Top, .Conversations.Messages .PageControls.Top {
    display: none; }
  .Vanilla.Messages .DataList, .Profile.Messages .DataList, .Conversations.Messages .DataList {
    background: none; }
    .Vanilla.Messages .DataList .ProfilePhoto, .Profile.Messages .DataList .ProfilePhoto, .Conversations.Messages .DataList .ProfilePhoto {
      height: 45px;
      width: 45px; }
    .Vanilla.Messages .DataList .Item, .Profile.Messages .DataList .Item, .Conversations.Messages .DataList .Item {
      border-radius: 7.5px;
      background: black;
      color: red; }
      .Vanilla.Messages .DataList .Item .Meta, .Profile.Messages .DataList .Item .Meta, .Conversations.Messages .DataList .Item .Meta {
        color: crimson; }
      .Vanilla.Messages .DataList .Item a, .Profile.Messages .DataList .Item a, .Conversations.Messages .DataList .Item a {
        color: #990033; }
        .Vanilla.Messages .DataList .Item a:hover, .Profile.Messages .DataList .Item a:hover, .Conversations.Messages .DataList .Item a:hover {
          color: crimson; }
